$screen-sm:	740px;
$bg-color: pink;

.test {
 background: $bg-color;
}
// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 740px,
//   lg: 1024px
// );

// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px
// );




// $screen-xs-min: 300px;
// $screen-sm-min: 400px;
// $screen-md-min: 800px;
// $screen-lg-min: 1200px;